body {
    margin: 0;
    background-color:#161515;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    height: 80px;
    width: 100%;
    display:flex;
    background-color: #232121;
    margin-bottom: 20px;
    

}
.flex_container_column {
    color: #F2CC20;
    margin-block: auto;
    margin-left: calc(50% - 360px);
    padding-left: 90px;
    font-size: 31px;
}
td {
    padding-inline: 30px;
}
#tire_picture {
    width: 30%;
}

.register {
    display: flex;
    flex-direction: row;
    background-color: #232121;
    color: white;
    margin-bottom: 20px;
    margin-inline: 30px;
   
}
.register_content {
    flex-direction: column;
    margin-inline: auto;
    font-size: 25px;
}
.register_content h3 {
    font-size: 30px;
    color: white;
    margin-left: calc(50% - 85px);
}
select, input {
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
}
#post_response_text {
    text-align: center;
    padding-bottom: 20px;
}

form {
    display: flex;
    flex-direction: row;
}

form div{
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin-inline: 20px;
}

#submit_booking, #submit_filters{
    margin-block: 15px;
    margin-left: calc(50% - 30px);
    background-color: #F2CC20;
    color: #232121;
}
h2{
    font-size: 30px;
    color: white;
    margin: auto;
    margin-block: 15px;
}

.filters{
    display: flex;
    flex-direction: column;
    background-color: #232121;
    color: white;
    margin-bottom: 20px;
    margin-inline: 30px;
}

#tire_workshop_filter_form {
    margin: auto;
    margin-bottom: 15px;
}
#submit_filters{
    margin: auto;
    margin-bottom: 15px;
}

table {
    margin-inline: 30px;
    width: calc(100% - 60px);
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #F2CC20;
    
    color: white;
}
th{
background-color: #232121;
}





footer {
    min-height: 170px;
    background-color: #232121;
    color: white;
    flex-direction: column;
    display: flex;
    margin-bottom: auto;
    padding-left: 30px;

}
.contact_text{
    flex-direction: row;
    display: flex;
}
.contact_text div{
    flex-direction: column;
    display: flex;
    margin-right: 30px;
}

@media screen and (max-width: 890px) {
    #tire_picture {
        display: none;
    }
}
@media screen and (max-width: 910px) {
    
    #tire_workshop_filter_form{
        flex-direction: column;
    }
    #tire_workshop_filter_form div{
        margin-block: 15px;
        margin-inline: 7px;
    }
    #tire_workshop_filter_form select, #tire_workshop_filter_form input {
        height: 30px;
        border-radius: 5px;
        width: 275px;
        height: 50px;
        font-size: 25px;
    }
}


@media screen and (max-width: 640px) {
    .flex_container_column {
        font-size: 20px;
        margin-left: calc(50% - 290px);
    }
    th, td {
        padding: 3px;
        font-size: smaller;
    }
    form{
        flex-direction: column;
    }
    form div{
        margin-block: 15px;
        margin-inline: 7px;
    }
    select, input {
        height: 30px;
        border-radius: 5px;
        width: 275px;
        height: 50px;
        font-size: 25px;
    }
    #submit_booking{
        margin-block: 15px;
        margin-left: calc(50% - 140px);
        background-color: #F2CC20;
        color: #232121;
    }
    h3 {
        margin-left: calc(50% - 85px);
    }
    .contact_text{
        font-size: smaller;
    }
}